 body {
    background-color:#422801;
 }
 
 h1 {
     text-align: center;
     font-size: 3.5rem;
     background-color: #e65f05;
     color: blanchedalmond;
 }

 .food-container {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     gap: 30px;
     flex-wrap: wrap;
     padding: 40px;

 }

 .food-section {
     margin: 35px;
     vertical-align: top;
     display: inline-block;
     text-align: center;
     background-color: #e65f05;
     padding: 30px;
     border-radius: 10px;
     box-shadow: black;
     transition: transform 0.3 ease;
     width: 300px;
 }

 .image-part img {
     width: 100%;
     border-radius: 15px;
     margin-top: 5px;
 }

 .text-part h2 {
     color: blanchedalmond;
     margin: 10px 0 5px;
     text-align: center;
 }

 .text-part h3 {
     color: beige;
     text-align: center;
 }

 .text-part p {
     color: blanchedalmond;
     text-align: center;
     font-size: 15px;
 }
 
 @media (max-width: 600px) {

  .food-container {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 20px;
  }

  .food-section {
    width: 90%;
    margin: 15px 0;
    padding: 20px;
  }
 .image-part img {
  width: 100%;
  height:100%;          /* keep original proportions */
  object-fit: contain;   /* show full image without cropping */
  border-radius: 15px;
}
}

.cart-box {
  width: 300px;
  background:#291701;
  padding: 20px;
  border-radius: 15px;
  color:blanchedalmond;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  margin-bottom: 30px;
  text-align: center;
}

.cart-box h2 {
  color: #e65f05;
  margin-bottom: 15px;
}

#cart-items {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

#cart-items li {
  background: #e65f05;
  padding: 8px;
  margin: 6px 0;
  border-radius: 8px;
  color: blanchedalmond;
  font-weight: bold;
}


/* ---- ADD TO CART BUTTON ---- */
button {
  padding: 10px 20px;
  border: none;
  background: #422801;
  color: red;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background:#2b1a01;
  transform: scale(1.05);
}


/* ---- PRICE TEXT ---- */
.price {
  font-weight: bold;
  color: #422801;
  background:#422801;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 10px 0;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.remove-btn:hover {
  background: darkred;
}


