 body {
    padding: 0%;
    background-color:#422801;
 }

form#orderForm {
  background: #e65f05;           /* Orange background */
  padding: 45px;
  border-radius: 35px;
  width: 350px;
  margin: 30px auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  text-align: left;
}

form#orderForm h2 {
  color: #422801;
  margin-bottom: 15px;
  text-align: center;
}

form#orderForm input,
form#orderForm textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: #422801;
}

form#orderForm input::placeholder,
form#orderForm textarea::placeholder {
  color: #422801;
  font-weight: bold;
}

form#orderForm textarea {
  height: 100px;
  resize: none;
}

form#orderForm button {
  width: 100%;
  background-color: #422801;
  color: #ff4b2b;
  font-size: 16px;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

form#orderForm button:hover {
  background-color: #2b1a01;
  transform: scale(1.03);
}
