body {
 
  margin: 0;
 background-color: #422801;
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;


}
a {
  text-decoration: none;
  color: blanchedalmond;
}

.navbar {
  background-color: #e65f05;
  padding:10px 20;
  position:fixed;
  z-index: 10;
  width:100%;   
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  flex-wrap: wrap;
}

.navbar ul {
  list-style: none;
  margin: 0;
  gap: 20px;
  padding: 0;
  display: flex;
  
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.5s;
}

.navbar a:hover {
  color: yellowgreen;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;  /* stack links */
    gap: 10px;
  }
}

.intro {
  padding: 60px 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #e65f05;
}

.subtext {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: blanchedalmond;
}

/* --- Slideshow Section --- */
.slideshow {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 0 auto 30px auto;
  /* center horizontally and add space below */
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade 9s infinite;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation delays for each slide */
.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 6s;
}

.slide:nth-child(3) {
  animation-delay: 4s;
}

.slide:nth-child(4) {
  animation-delay: 2s;
}

/* Fade animation keyframes */
@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.description {
  font-size: 1.1em;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5em;
  color: blanchedalmond;
}



.food-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap:200px;
  flex-wrap: wrap;
  padding: 20px;

}

.food-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  background-color: #e65f05;
  padding: 15px;
  border-radius: 10px;
  box-shadow: black;
  transition: transform 0.3 ease;
  width: 300px;
}

.image-part img {
  width: 100%;
  border-radius: 15px;
  margin-top: 5px;
}

.text-part h2 {
  color: blanchedalmond;
  margin: 10px 0 5px;
  text-align: center;
}

.text-part p {
  color: blanchedalmond;
  text-align: center;
  font-size: 15px;
}